* {
    margin: 0;
    padding: 0;
    font-family: 'Silkscreen', cursive;
}


body {
    background-color: rgb(238, 164, 95);
    width: 100vw;
    height: 100vh;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.titulo {
    position: absolute;
    font-size: 4em;
    top: 10%;

}

.opcion {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 212, 56);
    width: 50%;
    height: 50%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    border-radius: 5%;
}

.opcion span {
    font-weight: bold;
    font-size: 5em;
}

.opcion:hover {
    background-color: rgba(197, 97, 97, 0.76);
}

#regresar-btn {
    background-color: #835510;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(248, 230, 191);
    color: rgb(36, 31, 31);
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: .05em;
    margin: 4rem;
    margin-right: -30px;
    outline: none;
    padding: 15px 25px;
    position: absolute;
    left: 36%;
    top: 77.8%;
    text-decoration: none;
    width: 300px;
  }
  #regresar-btn:hover {
    background-color: #ee7a0e;
  }
  #regresar-btn:active {
    background-color: #555;
  }